.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    background-color: var(--primary-color);
}

.footer p {
    font-size: 14px;
    color: white;
}