.pic_card_user {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

.pic_card_user .pic_box {
    margin-bottom: 10px;
}

.pic_card_user .pic_box .pic {
    border: 2px solid var(--primary-color);
    border-radius: 100%;
}

.pic_card_user .user {
    color: var(--primary-color);
}